Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

megszünt, összevont oldalak
  sections/adguard-specific/annoyances.txt
  sections/adguard-specific/unbreak.txt
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/selfpromo.txt
  sections/trackers.txt
  sections/ublock-origin-specific/annoyances.txt
  sections/ublock-origin-specific/unbreak.txt
Labels: ads, trackers, annoyances, selfpromo, unbreak, ublock origin specific, adguard specific

koponyeg.hu
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/trackers.txt
Labels: ads, trackers, annoyances

bien.hu ad placeholder
  sections/ads.txt
Labels: ads

bien.hu ad placeholder (#881)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/0aaec64b1aa28b41ed9104d6d0dde52da3f6e2c0
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

borsonline+koponyeg
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/trackers.txt
Labels: ads, trackers, annoyances

Remove obsolete domains (#886)
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/trackers.txt
Labels: ads, trackers, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/f5a3a341d3e1ede9fa9c24ee70100dbaa4406b82
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none
