Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

Update annoyances.txt
  sections/annoyances.txt
Labels: annoyances

Add more rules for cookie consent overlays (#658)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/12bc34735c556db3cdfdf9e6b6c7de5c0b42094a
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix #659 jo.444.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/fd48fc22b24215018a2bb3c4d72439216e35c5f2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix #656 rimkereso.hu
  sections/adguard-specific/antiadblock.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: annoyances, anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/b81839454c656dfd6c33fbe10b695248dc381c6b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

erzsebetvaros.hu
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Move some rules to common annoyances
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/ff2bf6a25524b646bb2c8f4eaf500b2a25de37fe
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

csodahelyek.hu
  sections/annoyances.txt
Labels: annoyances

csodahelyek.hu (#661)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/d74b3e8b31136ad3b87039bc9a713c1a393ee4f1
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

add 444.hu trackers
  sections/trackers.txt
Labels: trackers

Update AGLint to v4 beta
  .aglintrc.yaml
  .github/workflows/aglint.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  sections/adblock-plus-specific/.aglintrc.yaml
  sections/adguard-specific/.aglintrc.yaml
  sections/ublock-origin-specific/.aglintrc.yaml
Labels: infrastructure

Allow write for update contributors workflow
  .github/workflows/update-contributors.yml
Labels: infrastructure

[skip ci] Automatic update of contributors in package.json
  package.json
Labels: none

Fix #660 444.hu
  sections/adguard-specific/ads.txt
Labels: ads, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/f752ef3bcc841d2a403eea71685e062f59b1fa88
  hufilter-adguard.txt
  index.html
Labels: none

Update AGLint cache strategy
  package.json
Labels: none

Limit update contributors to the original repo
  .github/workflows/update-contributors.yml
Labels: infrastructure

Fix #453 use the native `:has()` selector where possible
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/3cc164f3ce667ed0717012a08161bb91b55ead43
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix #644 prohardver
  sections/adguard-specific/ads.txt
Labels: ads, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/73b06c6d48fa8eb8ed1cf80bb95dd91017efe7f6
  hufilter-adguard.txt
  index.html
Labels: none

Fix lock file name
  .github/workflows/aglint.yml
Labels: infrastructure

budapestkornyeke.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/4fbb941b2873f8d84711d64b72e90f65570f0ac3
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

pcforum.hu
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/5f9b0890e66862fa69ef13ba2765ce01ea692695
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix hardverapro.hu https://github.com/AdguardTeam/AdguardFilters/issues/219093
  sections/adguard-specific/ads.txt
Labels: ads, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/3598bdbf573241c3fd96b80aace9c4bd9e49d0c1
  hufilter-adguard.txt
  index.html
Labels: none

Fix www.gyakorikerdesek.hu https://github.com/AdguardTeam/AdguardFilters/issues/219672
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/fa0db46740de17498dd3b6be150418458cd4bcbb
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix aglint path pattern quoting in lint script
  package.json
Labels: none

temporarily turn off no-unsupported-css-pseudo-class rule in aglint config
  .aglintrc.yaml
Labels: infrastructure

Fix aglint path pattern quoting in lint script
  package.json
Labels: none

pcforum.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/34d3e3a40a680131b89e463699ba5bd2b28504a2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Update pnpm to 10.26.2
  package.json
Labels: none
