Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

gyakorikerdesek.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/0d0d4f0c8428202dcdd225864d168e3123811103
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix #707 nemzetisport.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/f620fe8eb79eafd7f88788858af50df2b94cb7f1
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

hang.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/795f0146f1263a1c9ebf4e7cf436a45d549f5b88
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

videó reklám
  sections/ads.txt
Labels: ads

Block disney ad
  sections/ads.txt
Labels: ads

foodora.hu (#713)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/dd2e3bf0efd5b4ef20d27f001b0b2c5facb7b63a
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

idokep.hu (#714)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/ead53811c79c064a2f8372a5f53fa457dccef9ab
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix https://github.com/uBlockOrigin/uAssets/issues/32274 ipolyinfo.com
  sections/ads.txt
Labels: ads

[skip ci] Automatic update of contributors in package.json
  package.json
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/f679eb9c4c354bea49fd1e15bbd5185ae86e12e3
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

HVG embedded article promos
  sections/selfpromo.txt
Labels: selfpromo

Ingatlan.com self promos
  sections/selfpromo.txt
Labels: selfpromo

emag lapozható reklámok
  sections/ads.txt
Labels: ads

hogymondom.hu reklámok
  sections/ads.txt
Labels: ads

ingatlan.com (#718)
  sections/selfpromo.txt
Labels: selfpromo

[skip ci] Automatic update of contributors in package.json
  package.json
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/e933d561db3465cd42619c4f482dc7709b93487d
  hufilter-selfpromo.txt
  index.html
Labels: none

hvg.hu (#719)
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/ae3506024f06f95ab03fc9f0bb53c39224b33704
  hufilter-selfpromo.txt
  index.html
Labels: none

emag.hu (#720)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/c2327f7e9ed342606f17c87d8c9708a062bcf5a3
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Apply suggestion from @scripthunter7
  sections/ads.txt
Labels: ads

Apply suggestion from @scripthunter7
  sections/ads.txt
Labels: ads

hogymondom.hu (#721)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/253b7be5af0912c640f514db2593bc0645eb5f8f
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

emag kimaradt hirdetés
  sections/ads.txt
Labels: ads

mediamarkt.hu
  sections/ads.txt
Labels: ads

mediamarkt.hu (#725)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/84930bbe5343df80d5d9359ab68894b44e948445
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Revert "emag kimaradt hirdetés"
  sections/ads.txt
Labels: ads

emag
  sections/selfpromo.txt
Labels: selfpromo

favico engedélyezés
  sections/ads.txt
Labels: ads

gyakorikerdesek.hu (#727)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/37beb00d70e1683958b976f031700298ef4295a2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

update
  sections/ads.txt
  sections/selfpromo.txt
Labels: ads, selfpromo
