Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

emag.hu (#723)
  sections/ads.txt
  sections/selfpromo.txt
Labels: ads, selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/98a9302a3bce84ff1942c333b5ee734037c6c394
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-selfpromo.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

kifli.hu selfpromo
  sections/selfpromo.txt
Labels: selfpromo

kifli.hu selfpromo (#728)
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/00faed83fd86ce7d44899d3b41ad9f34a62165de
  hufilter-selfpromo.txt
  index.html
Labels: none

tisztogatás és új hoxa szabályok
  sections/adguard-specific/ads.txt
  sections/ads.txt
Labels: ads, adguard specific

gyakorikerdesek.hu, hoxa.hu
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/ababb7b4e24cb4deeaa58baf38f0392a54980a39
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

nem kell
  sections/adguard-specific/ads.txt
  sections/ads.txt
Labels: ads, adguard specific

gyk nem kell már
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

hoxa új szabály
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Remove outdated rules for gyakorikerdesek (#729)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/df9e12028cbb32fbc16f5e35c74f1081d46c362b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Revert "hoxa új szabály"
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

vicc24.hu reklám
  sections/ads.txt
Labels: ads

index 1%
  sections/selfpromo.txt
Labels: selfpromo

vicc24.hu reklám (#731)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/93a5ebe79a1348c6a6113edceaaf90a8af5bdfb3
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

így rövidebb
  sections/selfpromo.txt
Labels: selfpromo

index.hu (#732)
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/d081872ab7c4821973d361ae271ee1d27f1dd824
  hufilter-selfpromo.txt
  index.html
Labels: none

flash deals kedvezmények
  sections/selfpromo.txt
Labels: selfpromo

foodora.hu (#735)
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/7efe0cc294d9320559e0cf502c6837f4f8d25bae
  hufilter-selfpromo.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/36e62109bcd8223a5deef6d4ec2720103114c98b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix #737 telekom.hu
  sections/annoyances.txt
Labels: annoyances

Update lock file
  pnpm-lock.yaml
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/ae7f702ac2f57888b8abc6f1e4a629aee9f47bdb
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

új gyk&hoxa szabályok
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

gyakorikerdesek.hu, hoxa.hu (#730)
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/af26585f9486c43e27312035235606c473e05ee2
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

indavideo reklám
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

indavideo.hu (#744)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/b8a9fe8c2b9cb61c6385e7a9b128a021ee7de281
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

gyk értékelés javítás
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

gyakorikerdesek.hu (#745)
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/7a22fec02e21ef07001265033e3aae1a54127568
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

gyk üres reklám divek
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

sielok.hu reklámok
  sections/ads.txt
Labels: ads

arukereso.hu
  sections/ads.txt
Labels: ads
