Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

szegeder.hu
  sections/ads.txt
  sections/selfpromo.txt
Labels: ads, selfpromo

stylemagazin
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

telex 1%
  sections/annoyances.txt
Labels: annoyances

kiskegyed.hu (#777)
  sections/ads.txt
Labels: ads

magyarhirlap.hu (#778)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/576efb225eb97fb96acc39e1189cce56c1d14800
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Remove outdated sites (#779)
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/trackers.txt
Labels: ads, trackers, annoyances

kekvillogo.hu (#780)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/94ecac1d2712e36d3da302ce512803fecaab58fe
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

koroshircentrum.hu
  sections/ads.txt
Labels: ads

story.hu
  sections/ads.txt
Labels: ads

stylemagazin.hu
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

szeged.hu
  sections/ads.txt
Labels: ads

szegeder.hu
  sections/ads.txt
  sections/selfpromo.txt
Labels: ads, selfpromo

telex.hu
  sections/annoyances.txt
Labels: annoyances

vehir.hu
  sections/ads.txt
Labels: ads

vehir.hu (#790)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/7c62856bb90fc33b11f64a50c24e3e886ea80b58
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

telex.hu (#789)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/6f7578faef1648d3316d997cae12594676ce17b2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

story.hu (#787)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/6495682bed50c41646a4993711abd21a630b66d7
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

stylemagazin.hu (#786)
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

szeged.hu (#785)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/b30ecac12cd9ab1d9f848fcf5231ff7ef4c4e1e1
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

koroshircentrum.hu (#788)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/d8157df9876690c1e5006cfc0190fd33e68108d9
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

bpiautosok (#763)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/ea4762300e3f02199cd0b27668d27371f5e57d25
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Add pnpm-workspace.yaml with minimumReleaseAge configuration
  pnpm-workspace.yaml
Labels: none

Update packageManager version to pnpm@10.33.4
  package.json
Labels: none

szabály áthelyezés
  sections/ads.txt
Labels: ads

Add cooldown configuration for GitHub Actions and npm dependencies in dependabot.yml
  .github/dependabot.yml
Labels: infrastructure

szegeder.hu (#784)
  sections/ads.txt
  sections/selfpromo.txt
Labels: ads, selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/42ad743bb572068df5a488955efc3fc3838bada9
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-selfpromo.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

aranyoldalak.hu
  sections/ads.txt
Labels: ads

aranyoldalak.hu (#791)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/a5f7003953c528c3dfee73e1d018a8179fe2c8d6
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

musor.tv ad placeholder
  sections/ads.txt
Labels: ads

musor.tv ad placeholder (#793)
  sections/ads.txt
Labels: ads

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'
