Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

Fix #834 maszol.ro
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/677e218538dbd01ebc25f5fa799edc12064932a2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

fix flip.hu
  sections/ads.txt
Labels: ads

moved to right list
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

move flip.hu filter to cookies
  sections/annoyances.txt
  sections/cookies.txt
Labels: annoyances

flip.hu
  sections/cookies.txt
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/95801cf89c0845a0d42c159cb240f7d8be3e7a26
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Remove rule
  sections/cookies.txt
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/340dccc3df7365a0d691b940b3b683cd2a6c1b55
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

evamagazin.hu
  sections/ads.txt
Labels: ads

evamagazin.hu (#853)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/55ef83a9f686b70a4d0e49232fa8dd1f2c17d41c
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

idokep.hu
  sections/ads.txt
Labels: ads

idokep.hu
  sections/ads.txt
Labels: ads

hazipatika.com videó
  sections/ads.txt
Labels: ads

idokep.hu (#854)
  sections/ads.txt
Labels: ads

hazipatika.com (#855)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/5dec38f9480fcd6a4c9581f0b601154790b96a78
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

mysoft.hu
  sections/ads.txt
Labels: ads

autoalkatresz.hu
  sections/ads.txt
Labels: ads

időkép javítás
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

idokep.hu (#862)
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

autoalkatresz.hu (#858)
  sections/ads.txt
Labels: ads

mysoft.hu (#857)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/be6d40be4191e9258d16f584139da64fc6b07058
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

netboard.hu hirdetések
  sections/ads.txt
Labels: ads

netboard.hu (#866)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/e2a74ca2e587e3623c9a7bd26a9349e99c0b42ca
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

bpiautosok új hirdetés
  sections/ads.txt
Labels: ads

bpiautosok.hu (#867)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/702f9f84a973464ba313599d2790e3ffb5cefc2c
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

blikk reklám
  sections/ads.txt
Labels: ads

blikk.hu (#868)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/eeb4391d8ee0fbc4590ed6c2cb65b122779cdd18
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

https://www.mediamarkt.hu/hu/search.html?query=tv
  sections/ads.txt
Labels: ads

mediamarkt.hu (#871)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/144d68fc210fadd959182633f733a58c615e22ee
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

reklám placeholder
  sections/ads.txt
Labels: ads

telex.hu (#874)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/9a62d00504244bcbab1051e49acd5240997332a6
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none
