Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

re-added hang.hu
  sections/annoyances.txt
Labels: annoyances

hang fix 1
  sections/adguard-specific/antiadblock.txt
Labels: anti adblock, adguard specific

Update antiadblock.txt
  sections/adguard-specific/antiadblock.txt
Labels: anti adblock, adguard specific

hang fix 4
  sections/ublock-origin-specific/antiadblock.txt
Labels: anti adblock, ublock origin specific

hang fix 6
  sections/annoyances.txt
Labels: annoyances

Removed websites that no longer exists #677
  sections/adguard-specific/ads.txt
  sections/adguard-specific/annoyances.txt
  sections/adguard-specific/unbreak.txt
  sections/ads.txt
  sections/annoyances.txt
  sections/security.txt
  sections/selfpromo.txt
  sections/ublock-origin-specific/annoyances.txt
  sections/ublock-origin-specific/unbreak.txt
Labels: ads, annoyances, selfpromo, unbreak, security, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/591a15bdf70565ea0ec4434c7de5656f43f5f047
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-selfpromo.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Remove magyarhang.org
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, annoyances, anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/fbf8377126485c16ca7db8312981e87cc1d5bc5b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

pcguru.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/e7fae6f47c6ff180222a58cd3b864d3922aab9b9
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

hvg.hu
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/0d8bb00d7db13b76823552733d877628e2aef95f
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix https://github.com/AdguardTeam/AdguardFilters/issues/223700 media1.hu
  sections/adguard-specific/antiadblock.txt
  sections/antiadblock.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/8d2cde554abe8db55c64e2ff09f5a84c335ff5ea
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Block Gyakorikerdesek
  sections/ads.txt
Labels: ads

Fix comment in pr
  sections/ads.txt
Labels: ads

Fix #681 Separate annoyances and cookies sections
  filters.json
  sections/README.hu.md
  sections/README.md
  sections/adguard-specific/annoyances.txt
  sections/adguard-specific/cookies.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/ublock-origin-specific/annoyances.txt
  sections/ublock-origin-specific/cookies.txt
Labels: infrastructure, documentation, annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/fa431c2e5db47cb72b81609f62d6f17e166e557f
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-ublock.txt
  index.html
Labels: none

gyakorikerdesek.hu (#679)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/f09c2c5a8511d6c3a3b0d84be62970ccd57c8a3e
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

abo-widget.xyz
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/966d5f40ca429c0257a000b9c643818f779e92b4
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

gyakorikerdesek.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/f5ec6b9a56cf640bcc2eb138815eccf6b4424078
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

hiros.hu
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

magyarepitok.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/5f8b03a0c77b913fc7141986ecc4561b6d0f04a0
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Update gyakorikerdesek.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/724fd296824dc656a9c3d540f59743f093282d5f
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/2d935bf3291233895ee370cfc473e9f0aae6f5ae
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/fdbdeb405c7e538ec8288567f5849ec604b4689f
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

new rules for site gyakorikerdesek.hu
  sections/ads.txt
Labels: ads

Fix #688 estone.cc
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/67b6cad4c44b085ee465536e85076dc560736982
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/f25584cf3983573f388290a0522218380cc7b761
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
Labels: none

new rule for gyakorikerdesek.hu banner
  sections/ads.txt
Labels: ads

FIx #694 port.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/f3288b8cf89ed122a9dd8619f4066209a217cbd6
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/be21fea0e68359fb71b2a4462b7dde9f02253326
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none
