Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

Improve DNS filter generation with AGTree parser and add new output formats
  assets/scripts/build.js
  filters.json
  package.json
  pnpm-lock.yaml
Labels: infrastructure

Automatic deploy from https://github.com/hufilter/hufilter/commit/6b56b5fe146c95dba4abdd1169c45aa6ed259dbe
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  index.html
Labels: none

Fix nit
  assets/scripts/build.js
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/2acfcd7958403806e7c7e515cd238523e435c2fe
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  index.html
Labels: none

Update DNS filter header template from dns.txt to hosts.txt
  filters.json
Labels: infrastructure

Automatic deploy from https://github.com/hufilter/hufilter/commit/98ca069f508da012f59f7d343455d526a633f33e
  hufilter-dns.txt
Labels: none

Fix wildcard domain handling by correcting prefix check and improving string concatenation
  assets/scripts/build.js
Labels: none

add jofogas.hu ad rule
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/d6e94c4f8368c31b297859c6ff230d10360b6301
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Add cookie mask overlay element to filter list
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/dfa7d1105e01d1d353c6ee186a356c589d12f803
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix naphire.hu https://github.com/AdguardTeam/AdguardFilters/issues/222186
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/98f6e60dedb14820243e96159da48d469719dfb5
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix a typo
  sections/adguard-specific/antiadblock.txt
Labels: anti adblock, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/7d9073009a34797d875859e2c6636fa70d452489
  hufilter-adguard.txt
  index.html
Labels: none

Fix https://github.com/uBlockOrigin/uAssets/issues/31377 Disable rule
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/3f56406bfb1eb5ff017559ef807e19be8cca69e2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

esport1.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

musicdaily.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

glamour.hu
  sections/annoyances.txt
Labels: annoyances

prog.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/d507b6271250985cdd05d3e661496226dbe45d44
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Add punycode dependency and update domain handling in build script
  assets/scripts/build.js
  package.json
  pnpm-lock.yaml
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/7b193e1e3d1a1ee8168515d19fbdf23f733e5c0b
  hufilter-dns-adblock.txt
  hufilter-dns.txt
  hufilter-dnsmasq.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  index.html
Labels: none

Add ad filters for huntorrent.org
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/c221e85add081edc19ed67a3fed94a6cb97756ba
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Remove netmozi.com from ads.txt rules
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/8791359751b01a2c0f8e4e6f17c9b3458dd0d366
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Cleanup ad filters in sections/ads.txt, removed deprecated filters
  sections/ads.txt
Labels: ads

Add magyarszo.com to security.txt
  sections/security.txt
Labels: security

Remove magyarszo.com from ads.txt
  sections/ads.txt
Labels: ads

Re-added filter for csongradihirek.hu
  sections/ads.txt
Labels: ads

removed non working websites from all files
  sections/adguard-specific/ads.txt
  sections/adguard-specific/annoyances.txt
  sections/adguard-specific/antiadblock.txt
  sections/adguard-specific/unbreak.txt
  sections/ads.txt
  sections/annoyances.txt
  sections/selfpromo.txt
  sections/ublock-origin-specific/annoyances.txt
  sections/ublock-origin-specific/antiadblock.txt
  sections/ublock-origin-specific/unbreak.txt
Labels: ads, annoyances, anti adblock, selfpromo, unbreak, ublock origin specific, adguard specific

Fix https://github.com/uBlockOrigin/uAssets/issues/31578 gyorgyteabolt.hu
  sections/annoyances.txt
Labels: annoyances

[skip ci] Automatic update of contributors in package.json
  package.json
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/be8c5b3962c8d94a9d65a6ffb53247744f9f97ca
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

sync
  package.json
Labels: none

sync
  sections/annoyances.txt
Labels: annoyances

re-added hang.hu
  sections/ads.txt
Labels: ads

typo fix mobilarena
  sections/annoyances.txt
Labels: annoyances
