Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

gabo.hu
  sections/annoyances.txt
Labels: annoyances

gabo.hu (#610)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/c4e5fac7ff5a068664d7ae29b01e991b3275219f
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

disable cookie_alert_overlay for multiple domains (#609)
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/58e1d0fda68863175ca81b13bb14f06246317d86
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix https://github.com/uBlockOrigin/uAssets/issues/28850 online-filmek.ac
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/540e5f12ad917b3fcfdeac246ed048328e5e7795
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

budapest.hu
  sections/annoyances.txt
Labels: annoyances

Fix https://github.com/uBlockOrigin/uAssets/issues/28850#issuecomment-2995427022 online-filmek.ac
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/f9607149e8eb72cac42f23aa040a672659f3249a
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

budapest.hu (#612)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/e0a516bbd16171b85858cbb1175fbcb28f0eaf67
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

index.hu popup
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/0e5e5a1770c168a661a0bde97e2386f1ed742511
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

add general széchenyi banner filters
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/6fcf30482ebcc116a12a85f2e4b6bf0942d34d1a
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix https://github.com/AdguardTeam/AdguardFilters/issues/208487 hu.iqos.com
  sections/unbreak.txt
Labels: unbreak

Automatic deploy from https://github.com/hufilter/hufilter/commit/752dc5e2bdc1679976df75a8681d8993ffdf6320
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix https://github.com/AdguardTeam/AdguardFilters/issues/208590 kollegium-neriszentfulop.chemin-neuf.hu
  sections/unbreak.txt
Labels: unbreak

Automatic deploy from https://github.com/hufilter/hufilter/commit/d2942361c49edf3f4a18dd29c77ed79410d42e72
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix totalcar.hu https://github.com/AdguardTeam/AdguardFilters/issues/208601
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/1380c8293e520f9302b2b1ed20e3ad3a2a24c861
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

loader.nyitvatartas24.hu
  sections/ads.txt
Labels: ads

Fix https://github.com/hufilter/hufilter/issues/614 online-filmek.ac
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/0b9cf4b3738d0cf4b0dd2c2fd37189d369165dfc
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix https://github.com/AdguardTeam/AdguardFilters/issues/209389#issuecomment-3073257236 onlinepenztarca.hu
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/703f530e4b557985ddc35d0fb5ffed6638cfc7b9
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix https://github.com/hufilter/hufilter/issues/617 dkv.hu
  sections/annoyances.txt
Labels: annoyances

Fix https://github.com/hufilter/hufilter/issues/618 ingatlan.com
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/c35ae278083cb5441f539d9fed46ca7110dcaad2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-selfpromo.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix #619
  sections/adguard-specific/antiadblock.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: anti adblock, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/356990ef844da5b5e70b7a20b4860622fc3de2b4
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

#622 eduline.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/3797695f578fc05564e6d935dfc84007fe535f8a
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-dns.txt
  hufilter-hosts.txt
  hufilter-pihole.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

#622 erettsegi.com
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/b07e7ab1fdc5ce5af55a269fb6e1af6dd6d5fb47
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

mavcsoport.hu
  sections/annoyances.txt
Labels: annoyances

ingatlan.com self promo
  sections/selfpromo.txt
Labels: selfpromo

ingatlan.com feedback popup
  sections/annoyances.txt
Labels: annoyances

cookie consent on beat.hu and szikm.hu
  sections/annoyances.txt
Labels: annoyances
