Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

sorrend
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Fix order (#811)
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/4e68a986ede02653150d9d3f60574c12b46adf1e
  hufilter-adguard.txt
  hufilter-ublock.txt
Labels: none

hirdetés érzékelés javítás
  sections/ads.txt
Labels: ads

gyk, webminute (#815)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/de7c07257f36a565118e97ad984aaf094e68efea
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

444
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific

444.hu/jo empty header filter
  sections/ads.txt
Labels: ads

444.hu (#814)
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/ca3f3df751797ff11ab5357bdbab68a74e681aa8
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

forma1eredmenyek.hu
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

statisztikai/reklám nézettségi script tiltása
  sections/ads.txt
Labels: ads

index.hu
  sections/ads.txt
Labels: ads

megszűnt oldalak
  sections/ads.txt
Labels: ads

vilagunk.hu
  sections/ads.txt
Labels: ads

vidget.hu
  sections/ads.txt
Labels: ads

forma1eredmenyek.hu (#817)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/82edfbf188cee98b42087ddfc32a541aac71c2f7
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

index.hu (#818)
  sections/ads.txt
Labels: ads

vilagunk.hu (#820)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/4aa71f44c1144ba7cfd057d4b4433d23a43266bd
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

focikatalogus.hu
  sections/ads.txt
Labels: ads

focikatalogus.hu (#821)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/de3511baaf6c2810ad8f05b6f985a2c3695613b9
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

text alapú hirdetés
  sections/ads.txt
Labels: ads

gyk (#824)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/83bdd9dda8e870b9b48b801e418622ae69b0ad1c
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

text alapú blokkolás
  sections/ads.txt
Labels: ads

ad placeholder
  sections/ads.txt
Labels: ads

gyk (#825)
  sections/ads.txt
Labels: ads

hazipatika ad placeholder (#826)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/f57cca7267dbdeff8ed448e834d67d7bbf63e150
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

blogspot.hu
  sections/ads.txt
Labels: ads

Fix kisalfold.hu https://github.com/AdguardTeam/AdguardFilters/issues/234458
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/675c9d0a2c007f898faffa33c85242fdca22e3f5
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

oldalak
  sections/adblock-plus-specific/antiadblock.txt
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, anti adblock, adblock plus specific, ublock origin specific, adguard specific

444
  sections/cookies.txt
Labels: none

Removing obsolete sites (#819)
  sections/adblock-plus-specific/antiadblock.txt
  sections/adguard-specific/antiadblock.txt
  sections/ads.txt
  sections/cookies.txt
  sections/ublock-origin-specific/antiadblock.txt
Labels: ads, anti adblock, adblock plus specific, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/735ab51f3e7538e406af6336ed6eb4f1f533a320
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Fix #833 friss.ro
  sections/ads.txt
Labels: ads
