Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

[skip ci] Automatic update of contributors in package.json
  package.json
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/dafb96ff08af4cc147485254b4178f3e835a0597
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

kvizlabirintus.hu ads
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

kvizlabirintus.hu ads (#794)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/99ef8ad446241621a429e0a2bf8b2786c4b7588d
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

webminute domainek
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

liked.hu felugró ablak
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

scrollbar így húzható is
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

olvashatóbb
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

webminute domains (#797)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/38e175dd1e737a1dbcae9633bdd491ab4971448e
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Reorder rules
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

liked.hu popup ad
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/2df0a420acce28a76bf812649412a1822a70fc52
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

kepernyoido.hu
  sections/ads.txt
Labels: ads

kepernyoido.hu (#799)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/b6319732b8fe7c4a454d3b92a47011042d25d5bf
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

glamour.hu
  sections/selfpromo.txt
Labels: selfpromo

glamour.hu (#800)
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/2fa145738df96402875f89f556b49c6daad92932
  hufilter-selfpromo.txt
  index.html
Labels: none

story.hu
  sections/ads.txt
Labels: ads

story.hu (#801)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/0f21bfec123eeab14a3b5ea9be07da18c8573318
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

atlatszo.hu v2.0
  sections/selfpromo.txt
Labels: selfpromo

atlatszo.hu (#802)
  sections/selfpromo.txt
Labels: selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/7ab5c4bcc790c5c4097896c7bf8b9d977723fec7
  hufilter-selfpromo.txt
  index.html
Labels: none

webminute.hu reklám
  sections/ads.txt
Labels: ads

webminute.hu (#806)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/202d925a0429b7c509355d521462822221471116
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

speedshop.hu
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Új huntorrent reklám blokkolása
  sections/ads.txt
Labels: ads

tutifilmek.hu,anyaleszek.hu,anyalettem.hu,egeszsegtipp.hu,testunklelkunk.hu
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

huntorrent (#808)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/131d12bd1003cc7f214cff279a6f08b516227604
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

tutifilmek.hu, anyaleszek.hu, anyalettem.hu, egeszsegtipp.hu, testunklelkunk.hu (#809)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/8fab7b53c6b64ad54aec4c7d06c86e53e6504898
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Revert "speedshop.hu"
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

speedshop
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

speedshop.hu (#807)
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/bfd53bad2aebdbffbb6a74657ef2943a4f3d86f3
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'
