Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

Automatic deploy from https://github.com/hufilter/hufilter/commit/e0bf0c64430a852f6dbbcda2f27bc850db0cc52b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

sielok.hu (#749)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/e1b0508e3b1992f92e8d8b125fd5db01e2f189c4
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

gyk szabályok javítva
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

hoxa.hu új szabályok
  sections/ads.txt
Labels: ads

gyakorikerdesek.hu, hoxa.hu (#746)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/6e1076f0e4e5de53951250fa8c8a2ec5c8ed6a36
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

filmezek.com reklám
  sections/ads.txt
Labels: ads

filmezek.com (#753)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/52bbef9ea440c2846d447658894a17497a42a17c
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

port.hu ad placeholder
  sections/ads.txt
Labels: ads

index reklámok
  sections/ads.txt
Labels: ads

hoxa javítások
  sections/ads.txt
Labels: ads

moly hírdetések
  sections/ads.txt
Labels: ads

mégegykör
  sections/ads.txt
Labels: ads

sorrend
  sections/ads.txt
Labels: ads

adblock figyelmeztetés trükközése
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific

hirdetés
  sections/ads.txt
Labels: ads

Revert "hirdetés"
  sections/ads.txt
Labels: ads

hrportal hirdetes
  sections/ads.txt
Labels: ads

adblock figyelmeztetés trükközése
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

adblock figyelmeztetés trükközése
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

text hirdetés gyk block
  sections/ads.txt
Labels: ads

új változat
  sections/ads.txt
Labels: ads

szabály update
  sections/ads.txt
Labels: ads

nem szép de hatásos
  sections/ads.txt
Labels: ads

just ad placeholders
  sections/ads.txt
Labels: ads

kezdőlap hirdetés
  sections/ads.txt
Labels: ads

port.hu ad placeholder (#754)
  sections/ads.txt
Labels: ads

index.hu (#755)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/fa11a18315e3c80daa8b85d3ce1cf5e4a5a47a75
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/0d355e406ef779ee97d7900405d1603318193bb7
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

moly.hu (#758)
  sections/ads.txt
Labels: ads

hrportal.hu (#760)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/29be0a1d8d4f006f26c48b2b66305a1123e761c1
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

dictzone.com (#761)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/e4608b6d453a360c6e10ed81d1db697ee3f6d1f6
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
Labels: none

haziallat.hu(#765)
  sections/ads.txt
Labels: ads

hir.ma (#766)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/164d9a606ef0c41015c665507ca9a6b539eb3a63
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none
