Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

cookie consent on beat.hu and szikm.hu (#627)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/0ad681fd6d5421ffa5d346f5a5e1da0d6730db0e
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

ingatlan.com self promo (#626)
  sections/annoyances.txt
  sections/selfpromo.txt
Labels: annoyances, selfpromo

Automatic deploy from https://github.com/hufilter/hufilter/commit/023ea972920c53042643f5eacb0d7497429abb31
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-selfpromo.txt
  hufilter-ublock.txt
  index.html
Labels: none

mavcsoport.hu (#625)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/fb18cf995101832e4ed056242ae7aacd97bd3976
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix #628 ipolyinfo.com
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/871b1f9ba64253cc22e88c0ec5e09792e7fc78f5
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

hide széchenyi logo on police.hu
  sections/annoyances.txt
Labels: annoyances

hide széchenyi logo on police.hu (#629)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/2c77438aa097da11d63500e6985eb82de593df51
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

skanzen.hu cookie consent
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

skanzen.hu cookie consent (#630)
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/c1882597d949f968d33794e7fa10146060c80662
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix telekom.hu https://github.com/AdguardTeam/AdguardFilters/issues/213940
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/b80fb76152eb338730383be96516cc853c3a6e1d
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix homedepot.ca https://github.com/AdguardTeam/AdguardFilters/issues/214046
  sections/unbreak.txt
Labels: unbreak

Automatic deploy from https://github.com/hufilter/hufilter/commit/d7f81bae90fb238bcbf892a16a8beea6144c2859
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Add pnpm installation step
  .github/workflows/update-contributors.yml
Labels: infrastructure

ittjartam.hu
  sections/annoyances.txt
  sections/trackers.txt
Labels: trackers, annoyances

ittjartam.hu (#641)
  sections/annoyances.txt
  sections/trackers.txt
Labels: trackers, annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/4670d027ebf452d951a2bb074e792ad85c0f9418
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

arcanum.com self promo
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

arcanum.com self promo (#642)
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/5d5b2be4fa2afcc44b9dd991979d6fa9d032b9ef
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

erzsebetvaros.hu
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

move duplicate annoyance filters to common file
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

sort specific annoyance lists alphabetically
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

Fix tv2play.hu https://github.com/AdguardTeam/AdguardFilters/issues/215354
  sections/adguard-specific/antiadblock.txt
Labels: anti adblock, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/f5192c8c44048798e61ac31aaf62d81256250af0
  hufilter-adguard.txt
  index.html
Labels: none

smpixie.hu
  sections/annoyances.txt
Labels: annoyances

roadster.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/4b7f8d570b20cd6c0d779dd6a249cfbf7fc00a85
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

papageno.hu
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/179363fedf8da5e1ac5fcc2387b800a5dbfdab42
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none

Fix www.eredmenyek.com https://github.com/AdguardTeam/AdguardFilters/issues/216114
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/d084366ea6ec67df7ccf4ac44358ed72836d3adb
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

moly.hu annoyances: additional selectors
  sections/annoyances.txt
Labels: annoyances

moly.hu annoyances: additional selectors (#653)
  sections/annoyances.txt
Labels: annoyances

Automatic deploy from https://github.com/hufilter/hufilter/commit/34b3a4483e7203b1e2b72b80deac231bfa02f8e2
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  index.html
Labels: none
