Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'

gyakorikerdesek.hu, always implementing a new page scructure
  sections/ads.txt
Labels: ads

gyakorikerdesek.hu (#696)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/d47ce6723c8c09bdc02ce26f13bfa45960f2ab5b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

[skip ci] Automatic update of contributors in package.json
  package.json
Labels: none

new tricky ads
  sections/ads.txt
Labels: ads

gyakorikerdesek.hu (#699)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/84c43520b78923f3d551d4d12c7399e6b4a17a39
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

fix of #689
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/9ae38b39ca1dde0b3923aaa933341f9127dd1d09
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

gyakorikerdesek
  sections/ads.txt
Labels: ads

régi
  sections/ads.txt
Labels: ads

régi
  sections/ads.txt
Labels: ads

régi
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/7cc4a2181d6193e68466a8b6b5cf10ed47f49b5b
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

same as gyakorikerdesek
  sections/ads.txt
Labels: ads

new rules
  sections/ads.txt
Labels: ads

new rules
  sections/ads.txt
Labels: ads

little fix for footer
  sections/ads.txt
Labels: ads

ez a tuti
  sections/ads.txt
Labels: ads

ha visszaváltanának...
  sections/ads.txt
Labels: ads

így gondoltam
  sections/ads.txt
Labels: ads

üres karakterekre is...
  sections/ads.txt
Labels: ads

újrastruktúrálás
  sections/ads.txt
Labels: ads

gyakorikerdesek.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/eef5904640220bdebe8391b747875ab0a36b4b09
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

hoxa.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/10650b213113b613027fa7506f463b9275960d56
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

pusztulat gyakorikerdesek
  sections/ads.txt
Labels: ads

egyszerűbb
  sections/ads.txt
Labels: ads

eredeti üres sor megtartás
  sections/ads.txt
Labels: ads

a
  sections/ads.txt
Labels: ads

gyakorikerdesek.hu
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/06db79537ff75219742905b3ef87bb88e0f81c72
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

gyakorikerdesek.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/ebe054f5d380fc2f341376090fee78cf79405fac
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Make rule more specific
  sections/ads.txt
Labels: ads

hellomagyar.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

jofogas.hu
  sections/ads.txt
Labels: ads

esport1.hu
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/73ac30eb6d5cd35567defa501867dbf758dbce97
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none
