Repository hufilter/hufilter, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, deploy, documentation, ads, trackers, annoyances, anti adblock, selfpromo, unbreak, security, adblock plus specific, ublock origin specific, adguard specific

hirdetés
  sections/ads.txt
Labels: ads

plusz AdGuard szabály
  sections/adguard-specific/ads.txt
Labels: ads, adguard specific

adGuard szabály javítás
  sections/adguard-specific/ads.txt
Labels: ads, adguard specific

reklám menü
  sections/ads.txt
Labels: ads

molin-shop-ai: ipon, notebook
  sections/ads.txt
Labels: ads

új siteok
  sections/ads.txt
Labels: ads

hirdetés
  sections/ads.txt
Labels: ads

másik lista
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

general
  sections/annoyances.txt
Labels: annoyances

benu.hu (#770)
  sections/ads.txt
Labels: ads

femina.hu (#768)
  sections/ads.txt
Labels: ads

laptapir.hu (#767)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/deca3252763ad0be34d6d66c012d4cacec0302c1
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

hoxa.hu (#757)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/919841578c39c8b778de30f4526c9c28cf3fbd2e
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

új hirdetés
  sections/ads.txt
Labels: ads

mediamarkt.hu
  sections/ads.txt
Labels: ads

mediamarkt.hu (#774)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/339db1e8005507f140995276e23b9103897d6cdd
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
Labels: none

budapestkornyeke.hu (#773)
  sections/ads.txt
Labels: ads

Automatic deploy from https://github.com/hufilter/hufilter/commit/0e43a5678ffc1490e2f42cc8da44931ac4ccd9c3
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

reklámok
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

háttér
  sections/adguard-specific/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

reklám és felugró ajánlás ablak
  sections/adguard-specific/annoyances.txt
  sections/ads.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: ads, annoyances, ublock origin specific, adguard specific

chat gomb
  sections/annoyances.txt
Labels: annoyances

femina.hu felugró ajánlás ablak
  sections/adguard-specific/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances, ublock origin specific, adguard specific

hoxa.hu, focikatalogus.hu (#775)
  sections/adguard-specific/ads.txt
  sections/ads.txt
  sections/ublock-origin-specific/ads.txt
Labels: ads, ublock origin specific, adguard specific

divany.hu, femina.hu (#776)
  sections/adguard-specific/annoyances.txt
  sections/ads.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: ads, annoyances, ublock origin specific, adguard specific

Automatic deploy from https://github.com/hufilter/hufilter/commit/e6a3592c0b1d3eed482b65cef9ad4498f610fc34
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

Automatic deploy from https://github.com/hufilter/hufilter/commit/3be0c33cd38f943eba9a04ed5a40e916d0b96494
  hufilter-abp.txt
  hufilter-adguard.txt
  hufilter-ublock.txt
  hufilter.txt
  index.html
Labels: none

reklám
  sections/ads.txt
Labels: ads

magyarhirlap.hu
  sections/ads.txt
Labels: ads

elvileg megszűnik
  sections/ads.txt
Labels: ads

kekvillogo.hu
  sections/ads.txt
Labels: ads

oldalak
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
  sections/trackers.txt
Labels: ads, trackers, annoyances

szegedma.hu vissza egyenlőre
  sections/ads.txt
Labels: ads

oldalak
  sections/ads.txt
  sections/annoyances.txt
  sections/cookies.txt
Labels: ads, annoyances

init commit
  sections/ads.txt
Labels: ads

reklámok
  sections/ads.txt
Labels: ads

nem akartam törölni
  sections/ads.txt
Labels: ads

.github/labeler.yml:

# Docs: https://github.com/actions/labeler?tab=readme-ov-file#create-githublabeleryml

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.husky/**'
          - '.aglintignore'
          - '.aglintrc.yaml'
          - '.editorconfig'
          - '.markdownlintignore'
          - '.markdownlint.yaml'
          - 'cspell.yaml'
          - 'filters.json'

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/deploy.yml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

ads:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/ads.txt'

trackers:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/trackers.txt'

annoyances:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/annoyances.txt'

anti adblock:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/antiadblock.txt'

selfpromo:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/selfpromo.txt'

unbreak:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/unbreak.txt'

security:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/**/security.txt'

adblock plus specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adblock-plus-specific/**/*.txt'

ublock origin specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/ublock-origin-specific/**/*.txt'

adguard specific:
  - changed-files:
      - any-glob-to-any-file:
          - 'sections/adguard-specific/**/*.txt'
