Repository hufilter/hufilter, pull requests merged in 2023-07, with the labels that each got.

#340 builder.hu
  sections/ads.txt
Labels: refactor

#339 borsa.hu
  sections/ads.txt
Labels: refactor

#338 444.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: refactor

#356 fn.hu
  sections/ads.txt
Labels: refactor

#349 index.hu
  sections/ads.txt
Labels: refactor

#348 origo.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: refactor

#366 hvg.hu
  sections/ads.txt
Labels: refactor

#370 remove szineshir.net
  sections/ads.txt
Labels: dead domain

#369 remove zoldmano.info
  sections/ads.txt
Labels: dead domain

#368 ex1tp.com
  sections/annoyances.txt
  sections/trackers.txt
Labels: annoyances, tracker

#380 Remove internetespenzkereses.net
  sections/ads.txt
Labels: dead domain

#381 Remove etargetnet.com
  sections/ads.txt
Labels: dead domain

#386 remove polusonline.com
  sections/ads.txt
Labels: dead website

#385 bacsmegye.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

#391 remove netii.net
  sections/ads.txt
Labels: dead website

#392 remove netfirms.com
  sections/ads.txt
Labels: dead website

#393 remove notonlyporn.net
  sections/ads.txt
Labels: dead website

#394 remove online.filmek-sorozatok.info
  sections/ads.txt
Labels: dead website

#395 remove demotivalo.net
  sections/ads.txt
Labels: dead website

#401 Update AGLint workflow
  .github/workflows/aglint.yml
Labels: enhancement

#409 remove hir444.blogspot.com
  sections/ads.txt
Labels: dead website

#408 remove hir-24.eu
  sections/ads.txt
Labels: dead website

#407 remove csajoknak.com
  sections/ads.txt
Labels: dead website

#406 remove farm.hu
  sections/ads.txt
Labels: dead website

#405 remove private websites
  sections/adguard-specific.txt
  sections/ads.txt
  sections/ublock-specific.txt
Labels: account required

#404 magyarnarancs.hu
  sections/annoyances.txt
  sections/selfpromo.txt
Labels: annoyances, selfpromo

#403 Remove newsletter annoyances from regional news portals
  sections/annoyances.txt
Labels: annoyances

#411 liked.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances

#412 Block cookie consents on regional news portals
  sections/annoyances.txt
Labels: annoyances

#397 Refactor network rules
  sections/ads.txt
  sections/annoyances.txt
  sections/antiadblock.txt
  sections/other.txt
  sections/trackers.txt
Labels: refactor

#402 Remove redundant network rules
  sections/ads.txt
  sections/trackers.txt
Labels: refactor

#413 twice.hu
  sections/ads.txt
  sections/annoyances.txt
Labels: ads, annoyances
