Repository hufilter/hufilter, pull requests merged in 2025-05, with the labels that each got.

#573 add szallas.hu cookie and analytics filter
  sections/annoyances.txt
  sections/trackers.txt
Labels: annoyances, tracker

#574 greendex.hu
  sections/annoyances.txt
  sections/trackers.txt
  sections/unbreak.txt
Labels: annoyances, incorrect blocking, tracker

#577 posta.hu cookie modal and assets
  sections/annoyances.txt
Labels: annoyances

#581 Update freemail.hu rule
  sections/ads.txt
Labels: ads

#579 kre.hu
  sections/annoyances.txt
Labels: annoyances

#587 semmelweis.hu
  sections/adguard-specific/annoyances.txt
  sections/annoyances.txt
  sections/ublock-origin-specific/annoyances.txt
Labels: annoyances

#593 jofogas.hu floating countdown
  sections/annoyances.txt
Labels: annoyances

#601 budapestikozmuvek.hu
  sections/annoyances.txt
Labels: annoyances
